body {
        background: linear-gradient(
            180deg,
            rgba(118, 194, 222, 0.25) 0%,
        rgba(83, 156, 183, 0.40) 25%,
        rgba(170, 211, 226, 0.5) 50%,
        rgba(63, 123, 145, 0.75) 75%,
        rgba(29, 68, 82, 1) 100%
        );
        background-repeat: no-repeat;
        background-attachment: fixed;

        width: 360px;
        height: 800px;  
        }
      .Entire-Page {
        width: 360px;
        height: 800px; 
        display: flexbox;
        justify-content:center;
        justify-content: center;
      }
      .Button-dose-calculator {
        background-color: #2E7DA4;
        color: black;
        height: 70px;
        width: 270;
        padding: 8px;
        font-weight: bolder;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 24px;
        border-width: 2px;
        border-color: black;
        border-radius: 5px;
        border-style: solid;
        display: flex;
        align-items:center;
        justify-content:center;
        margin-bottom: 50px;  
        margin-top: 50px;
        margin-left: 100px;
        inline-size: 250px;
        cursor: pointer;
      }

      .Weight-Based-Div, .Body-Surface-Div, .Body-Surface-Div:hover, .Weight-Based-Div:hover{
        margin-left: 120px;
      }
      .Weight-Based-Div {
        display: flexbox;
        align-items:center;
        justify-content:center;
      }
      .Button-weight-based {
        background-color: #5C869A;
        color: black;
        height: 75px;
        width: 200px;
        padding: 6px;
        font-weight: bolder;
        font-family: sans-serif;
        font-size: 19px;
        border: none;
        border-radius: 5px;
        display: block;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px; 
        box-shadow: 4px 4px 5px 0px rgba(103, 115, 120, 1);
        cursor: pointer;
      }
      .Button-Formula-weight-based {
        background-color: #BBCED7;
        height: 34px;
        width: 200px;
        padding: 6px;
        font-size: 12px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border: none;
        display: none;
        justify-content: center;
        box-shadow: 4px 4px 5px 0px rgba(103, 115, 120, 1);
      }
      .Weight-Based-Div:hover .Button-weight-based{
        background-color: #446A7C;
      }
      .Weight-Based-Div:hover .Button-Formula-weight-based{
        display: flex;
        opacity: 1px;
        transition: opacity 0.3s ease-in;
      }
      .Body-Surface-Div {
        margin-bottom: 50px;
        display: flexbox;
        justify-content: center;
        align-items: center;
      }
      .Button-Body-Surface{
        background-color: #5C869A;
        color: black;
        height: 75px;
        width: 200px;
        border: none;
        padding: 4px;
        font-family: sans-serif;
        font-weight: bolder;
        font-size: 19px;
        border-radius: 5px;
        display: block;
        justify-content: center;
        align-items: center;
        box-shadow: 4px 4px 5px 0px rgba(103, 115, 120, 1);
        cursor: pointer;
        white-space: nowrap;
        margin-top: 50px;
      }
      .Formula-Body-surface-based{
        background-color: #BBCED7;
        height: 40px;
        width: 200px;
        padding: 6px;
        font-size: 12px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border: none;
        display: none;
        justify-content: center;
        box-shadow: 4px 4px 5px 0px rgba(103, 115, 120, 1);
        margin-top: 0px;
        margin-bottom: 50px;
      }

      .Body-Surface-Div:hover .Button-Body-Surface{
        background-color: #446A7C;
      }
      .Body-Surface-Div:hover .Formula-Body-surface-based{
        display: flex;
        opacity: 1px;
        transition: opacity 0.3s ease-in;
      }

      .custom-dropdown {
        background-color: none;
        width: 270px;
        height: 30px;
        margin-bottom: 350px;
        margin-left: 100px;
        display: flexbox;
        justify-content: center;
        align-items: center;
        position: absolute;
      }

      .Button-Title{
        background-color: #EDF4F6;
        font-size: 15px;
        font-family: 'Instrument Serif';
        src: url('fonts/InstrumentSerif-Regular.woff2') format('woff2'),
            url('fonts/InstrumentSerif-Regular.woff') format('woff');
        font-weight: medium;
        padding-left: 6px;
        padding-right: 6px;
        padding-top: 3px;
        padding-bottom: 3px;
        height: 30px;
        width: 250px;
        border-radius: 5px;
        border-style: solid;
        border-width: 2px;
        text-align: center;
        display: flex;
        justify-content: center;
      }

      .dropdown-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr );
        container-name: Dropdown list;
        column-gap: 0px;
        row-gap: 0px;
        grid-auto-rows: minmax(15px, auto);
        position: absolute;
        overflow-y: auto;
        grid-auto-flow: row;
        max-height: 90px;
        border-radius: 2px;
        scrollbar-width: none;
        scroll-behavior: smooth;
        inline-size: 250px;
      }

      .Age .Weight {
        font-family: sans-serif;
        font-size: 12px;
        font-style: InstrumentSerif-Regular;
        padding: 5px;
        background-color: #EDF4F6;
        border: none;
        display: flexbox;
      }

      .Weight {
        text-align: center;
      }

      .Age{
        text-align: 10px;
      }

      .custom-dropdown .dropdown-list{
        opacity: 0;
      }

      .custom-dropdown:active .dropdown-list {
        opacity: 1;
        transition: opacity 0.3s move-in;
      }

      .tagline {
        font-family: sans-serif;
        font-size: 12px;
        font-style: italic;
        width: 311px;
        margin-top: 225px;
        margin-left: 70px;
        display: flex;
        text-align: center;
      }
